[user]
	name = <name>
	email = <email>
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
  st = status
  br = branch
  df = diff
  lg = log
  lgf= log --follow
  cm = commit -m
  cma= commit -am
